/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

.container{
    width: 1110px;
    margin: 0 auto;
    padding: 0 20px;
    height: 20px;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1350px;
    margin: 0 auto;
    padding: 0 20px;
    height: 20px;
}
.container2{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 20px;

}

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

